<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="by.ivc.okscertificate.data.mapper.ComplianceCertificateMapper">

    <resultMap id="complianceCertificateMap" type="ComplianceCertificate">
        <id property="id" column="id"/>
        <result property="" column=""/>
    </resultMap>


</mapper>